<% if user_signed_in? && @user == current_user %>
<h1>プロフィール</h1>

<p><strong>アイコン画像</strong><%= @user.icon %></p>
<p><img src=<%= @user.icon %> class = "icon_image"></p>

<p>名前 : <%= @user.name  %></p>

<p>自己紹介 : <%= @user.profile %></p>

<% end %>


<% if user_signed_in? && @user == current_user %>
<%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>
