<h3 class="result">検索結果：<%= @results.count(:id) %>件</h3>
<div class="outer_box">
  <% @results.each do |r| %>
  <%= link_to  home_path(r.id) do %><!-- home#showアクションへ -->
      <div class="sample_box">
        <% if r.image.attached? %>
            <%= image_tag r.image , class:"index_room_image"%>
        <% end %>
        <li class="room_name">
          <%= r.room_name %>
        </li>
        <li class="price">
          ¥<%= r.price %>
        </li>
        <li class="ID">
          [roomID]<%= r.room_id %>
        </li>
      </div>
  <% end %>
  <% end %>
</div>