<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メール %><br />
    <%= f.email_field :email, autofocus: true,placeholder:"メールアドレス入力", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, placeholder:"パスワード入力",autocomplete: "current-password" %>
  </div>

  <div class="actions">
  <button class="button is-info">ログイン</button>
  </div>
<% end %>

 <%= link_to "新しいアカウントを作成", new_user_registration_path %>
