<div class="FormWrapper">
  <section class="FormContainer">
    <h2>施設情報の編集</h2>


<%= form_with model: @room do |f| %>

  <table>

  <form class="Form RoomsForm" enctype="multipart/form-data" action="/rooms/79" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="FmTdFSWjMaA8gYz1WcILyUmOylBiSU+OJAUnEpgXyp0SQotAazZXqj0EZCzsVU8E0bmtq70TlcRDLx7X9B1X5w==">
  
    <div class="RoomsForm__input-group">
        <label class="form-label RoomsForm__label Form__label--required" for="room_name"><%= f.label :room_name,"施設名" %></label>
            
            <div class="RoomsForm__input">
            <input class="form-control" placeholder="ルーム名を入力" type="text" value="あいうえお" name="room[name]" id="room_name">
            </div>
    </div>


    <div class="RoomsForm__input-group">
         <label class="form-label RoomsForm__label Form__label--required" for="room_content"><%= f.label :introduction,"施設詳細" %></label>

             <div class="RoomsForm__input">
             <textarea rows="5" class="form-control" placeholder="施設詳細を入力" name="room[content]" id="room_content">あいうえお</textarea>
             </div>
     </div>


    <div class="RoomsForm__input-group">
        <label class="form-label RoomsForm__label Form__label--required" for="room_price"><%= f.label :price,"料金" %></label>

            <div class="RoomsForm__input">
            <input class="form-control" placeholder="一日あたりの料金を入力" type="number" value="10000" name="room[price]" id="room_price">
            </div>
    </div>


    <div class="RoomsForm__input-group">
        <label class="form-label RoomsForm__label Form__label--required" for="room_address"><%= f.label :address,"住所" %></label>

            <div class="RoomsForm__input">
            <input class="form-control" placeholder="住所を入力" type="text" value="東京都" name="room[address]" id="room_address">
            </div>
    </div>


    <div class="update-content">
                    <div class="row">
                        <%= f.label :image,"施設画像" %>
                        <%= f.file_field :image %>
                    </div>
                    </div>


                <div class="update-content">
                    <div class="row">
                        <%= f.submit "保存" %>
                    </div>
                </div>


  </table>

<% end %>
</section>
</div>