<section class="container OwnRoomsContainer">
  <h2>
    登録済み一覧
  </h2>


  <div class="table-responsive">
    <table class="table align-middle OwnRoomsTable">
      <thead>
        <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
        </tr>
      </thead>

      <tbody>

    <% @rooms.each do |room| %>

        <tr>
        <td><%= image_tag room.image ,size: "200x150" if room.image.present? %></td>
        <!--この文がdbから写真画像を表示させている -->
        <td> <%= room.room_name %></td>
        <td> <%= room.introduction %></td>
        <td> <%= room.price %> </td>
        <td> <%= room.created_at.to_s(:datetime_jp) %></td>
        </tr>

<td>
<div class="dropdown">
                <div class="d-flex align-items-center justify-content-center" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img alt="3点メニューアイコン" src="/assets/icons/three-dot-menu-0c042cde96cc73e058e97d09a24944eb2914eb8c152d418dc6fc6964251fdaa2.svg">
                </div>

                <ul class="dropdown-menu DropdownMenu" aria-labelledby="dropdown-button">
                  <li class="DropdownMenu__item">
                  <%= link_to "詳細はこちら", room_path(room) %>
                  </li>
                  

                <li class="DropdownMenu__item DropdownMenu__item--danger">
                <td><%= link_to "編集", edit_room_path(room) %></td>
                </li>
</div>
</td>

<% end %>
</tbody>
</table>
</div>
</div>